@import "navbar";
@import "sidebar-drawer";
@import "hero-banner";
@import "site-message";
@import "testimonials";
@import "purchase";
@import "closing-message";
@import "contact-info";
@import "color-theme";
@import "footer";

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background: theme-color(secondary);
}
